<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Produgie Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:54:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close(org.testng.ITestResult)[pri:0, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test 1-1@1689713377</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:51:48</td>   <td>-169002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreTest.ValidateAfterLoginPage()[pri:3, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">ValidateAfterLoginPage</td> 
  <td>TestNG-test=Test 1-1@1689713377</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:54:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close(org.testng.ITestResult)[pri:0, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test 1-1@1689713377</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:54:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close(org.testng.ITestResult)[pri:0, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test 1-1@1689713377</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:51:11</td>   <td>-205530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreTest.NonSSOLogin(java.lang.String,java.lang.String,java.lang.String)[pri:2, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">NonSSOLogin</td> 
  <td>TestNG-test=Test 1-1@1689713377</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:53:35</td>   <td>-61213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreTest.GLAReport()[pri:5, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">GLAReport</td> 
  <td>TestNG-test=Test 1-1@1689713377</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:54:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close(org.testng.ITestResult)[pri:0, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test 1-1@1689713377</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:54:38</td>   <td>1278</td> <td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close()[pri:0, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522095831</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:53:14</td>   <td>-82206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreTest.GrowthLeaderAssessment()[pri:4, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">GrowthLeaderAssessment</td> 
  <td>TestNG-test=Test 1-1@1689713377</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:54:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close(org.testng.ITestResult)[pri:0, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test 1-1@1689713377</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:50:57</td>   <td>-219706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreTest.LoginPage()[pri:1, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">LoginPage</td> 
  <td>TestNG-test=Test 1-1@1689713377</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/08/04 12:50:22</td>   <td>-254507</td> <td>&nbsp;</td><td title="&gt;&gt;ExploreTest.ClassObject()[pri:0, instance:com.prod.qa.testcases.ExploreTest@5d0a1059]">&gt;&gt;ClassObject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522095831</td>   <td></td> </tr>
</table>
