<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83a9be">  <td>21/08/26 11:12:19</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ExploreTest.ClassObject()[pri:0, instance:com.prod.qa.testcases.ExploreTest@6bc407fd]">&gt;&gt;ClassObject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1545827753</td>   <td></td> </tr>
<tr bgcolor="83a9be">  <td>21/08/26 11:12:24</td>   <td>5336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreTest.LoginPage()[pri:1, instance:com.prod.qa.testcases.ExploreTest@6bc407fd]">LoginPage</td> 
  <td>main@1545827753</td>   <td></td> </tr>
<tr bgcolor="83a9be">  <td>21/08/26 11:12:43</td>   <td>24100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close(org.testng.ITestResult)[pri:0, instance:com.prod.qa.testcases.ExploreTest@6bc407fd]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1545827753</td>   <td></td> </tr>
<tr bgcolor="83a9be">  <td>21/08/26 11:12:43</td>   <td>24626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreTest.ValidateAfterLoginPage()[pri:2, instance:com.prod.qa.testcases.ExploreTest@6bc407fd]">ValidateAfterLoginPage</td> 
  <td>main@1545827753</td>   <td></td> </tr>
<tr bgcolor="83a9be">  <td>21/08/26 11:13:21</td>   <td>62308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close(org.testng.ITestResult)[pri:0, instance:com.prod.qa.testcases.ExploreTest@6bc407fd]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1545827753</td>   <td></td> </tr>
<tr bgcolor="83a9be">  <td>21/08/26 11:13:21</td>   <td>62442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreTest.GrowthLeaderAssessment()[pri:3, instance:com.prod.qa.testcases.ExploreTest@6bc407fd]">GrowthLeaderAssessment</td> 
  <td>main@1545827753</td>   <td></td> </tr>
<tr bgcolor="83a9be">  <td>21/08/26 11:22:08</td>   <td>589043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close(org.testng.ITestResult)[pri:0, instance:com.prod.qa.testcases.ExploreTest@6bc407fd]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1545827753</td>   <td></td> </tr>
<tr bgcolor="83a9be">  <td>21/08/26 11:22:08</td>   <td>589186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreTest.GLAReport()[pri:4, instance:com.prod.qa.testcases.ExploreTest@6bc407fd]">GLAReport</td> 
  <td>main@1545827753</td>   <td></td> </tr>
<tr bgcolor="83a9be">  <td>21/08/26 11:22:20</td>   <td>601028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close(org.testng.ITestResult)[pri:0, instance:com.prod.qa.testcases.ExploreTest@6bc407fd]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1545827753</td>   <td></td> </tr>
<tr bgcolor="83a9be">  <td>21/08/26 11:22:20</td>   <td>601098</td> <td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close()[pri:0, instance:com.prod.qa.testcases.ExploreTest@6bc407fd]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1545827753</td>   <td></td> </tr>
</table>
