<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FREE CRM Application Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7caca8">  <td>21/07/30 20:49:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ExploreTest.ClassObject()[pri:0, instance:com.prod.qa.testcases.ExploreTest@1de76cc7]">&gt;&gt;ClassObject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1042786867</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/07/30 20:49:45</td>   <td>6244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreTest.LoginPage()[pri:1, instance:com.prod.qa.testcases.ExploreTest@1de76cc7]">LoginPage</td> 
  <td>main@1042786867</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/07/30 20:49:47</td>   <td>8223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreTest.NonSSOLogin(java.lang.String,java.lang.String,java.lang.String)[pri:2, instance:com.prod.qa.testcases.ExploreTest@1de76cc7]">NonSSOLogin</td> 
  <td>main@1042786867</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/07/30 20:49:47</td>   <td>8341</td> <td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close()[pri:0, instance:com.prod.qa.testcases.ExploreTest@1de76cc7]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1042786867</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/07/30 20:49:47</td>   <td>8233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close(org.testng.ITestResult)[pri:0, instance:com.prod.qa.testcases.ExploreTest@1de76cc7]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1042786867</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/07/30 20:49:47</td>   <td>8233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreTest.close(org.testng.ITestResult)[pri:0, instance:com.prod.qa.testcases.ExploreTest@1de76cc7]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1042786867</td>   <td></td> </tr>
</table>
